/* bg left ./public/img/bg-pattern-desktop.svg */
/* bg right ./public/img/hero-desktop.jpg */
/* bg right mobile ./public/img/hero-mobile.jpg */

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: hsl(0, 6%, 24%);
}

.container {
    display: flex;
    width: 100vw;
}

.left {
    width: 65%;
    height: 100vh;
    padding: 4vw 18vw 18vw 12vw;
    
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background-image: url("../img/bg-pattern-desktop.svg");
    background-size: cover;
}

.title {
    margin-top: 6rem;
    margin-bottom: 0;
}

.title, .title span {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: .7rem;
    line-height: 4rem;
}

.title span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    font-display: 1000;
}

.text {
    color: hsl(0, 36%, 70%);
    line-height: 2rem;
    margin-top: 1rem;
}

.right {
    width: 35%;
    height: 100vh;
    background-image: url("../img/hero-desktop.jpg");
    background-size: cover;
    background-position: center center;
}

.container-email {
    display: flex;
    margin-top: 1.5rem;
}

input {
    width: 100%;
    border-radius: 3rem;
    padding: 1rem;
    border: 1px solid hsla(0, 6%, 24%, 0.5);
    color: hsl(0, 36%, 70%);
}

input:focus {
	border-width: 2px;
	outline: none;
}

input::placeholder {
	opacity: .5;
}

button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
    border: none;
    padding: 1rem;
    border-radius: 3rem;
    width: 100px;
    transform: translateX(-50px);
    cursor: pointer;
}

.attribution { 
    display: none;
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
    }
    .left {
        width: 100%;
        padding: 10vw;
    }
    .right {
        width: 100%;
        height: 30%;
        background-position: top;
        position: absolute;
        top: 90px;
        left: 0px;
    }
    main {
        margin-top: 325px;
        text-align: center;
    }
}